
#!/usr/bin/python

import etcd
import sys
from urlparse import urlparse

etcd_host = "{{ .Env.ETCD_ENV_TUTUM_SERVICE_HOSTNAME }}"
if not etcd_host:
    print "ETCD_HOST not set"
    sys.exit(1)

port = 4001
host = etcd_host

if ":" in etcd_host:
    host, port = etcd_host.split(":")

client = etcd.Client(host=host, port=int(port))

try:
    backends = client.read("/backends")
except (etcd.EtcdKeyNotFound, KeyError):
    client.write("/backends", None, dir=True)

{{ $local := . }}
{{range $key, $value := .}}
{{ $addrLen := len $value.Addresses }}

{{range $address := $value.Addresses}}

{{ if $address.HostPort }}

# {{ $value.Name }}

{{ if eq $address.HostPort "27017" }}

client.write("/services/{{ $value.Image.Repository}}/{{printf "%.*s" 12 $value.ID}}", "{{ $address.HostPort }}:{{ $address.HostPort }}", ttl=15)
client.write("/services/{{ $value.Image.Repository}}/port", "{{ $address.Port }}", ttl=15)

{{else}}

{{ if $value.Env.VIRTUAL_HOST }}
client.write("/backends/{{ $value.Env.VIRTUAL_HOST}}/{{printf "%.*s" 12 $value.ID}}", "{{ $address.HostPort }}:{{ $address.HostPort }}", ttl=15)
client.write("/backends/{{ $value.Env.VIRTUAL_HOST}}/port", "{{ $address.Port }}", ttl=15)
{{ end }}

{{ end }}

{{ end }}
{{ end }}
{{end}}
